#who5disclaimer {
  color: red;
  font-style: italic;
  margin: 15px;
}

#who5header {
  text-align: center;
  margin-bottom: 20px;
}

#who5scoreDiscussion {
  margin-top: 10px;
}

.failedQuestion {
  font-weight: bold;
}

.failedQuestionResponse {
  font-style: italic;
}
